* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f1f1f1;
    background-image: url('../images/funky-lines.jpg');
    color: #777777;
    /* Commenting will allow for sticky footer */
    /* position: relative; */
    /* min-height: 100vh; */
}

header {
   
    background-color: #ffffff;
    color: white;
    border-bottom: 1px solid grey;
    border-color: #dddddd;
     /* padding: 20px; */
}


.topnav {
    position:relative;
    /* left: 25%;
    right: 25%; */
   
}


ul {
    margin: 0 auto;
    width: 960px;
    list-style-type: none;
    overflow: hidden;
    background-color: #ffffff;
}
  
  
li a {
    float: right;
    display: block;
    color: #777777;
    text-align: center;
    padding: 25px 20px 30px 20px;
    text-decoration: none;
    font-size: large;
}
  
li a:hover:not(.active) {
    background-color: rgb(248, 246, 246);
    text-decoration: underline;
}
  

.active {
    padding: 20px 25px 20px 25px;
    background-color: #4aaaa5;
    float: left;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
    text-decoration: none;
}


main {
    float: center;
    width: 960px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 50px; */
    padding: 30px 20px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    /* min-height: calc(100vh - 211px - 58px); */
}

h2 {
    color: #4aaaa5;
}


hr {
    width: 900px;
    border-top: 2.5px solid #cccccc;
    margin: 25px 10px 25px 10px;
   
}


input {
    width: 100%;
    border-color: #cccccc;
    border-width: 0.5px;
    border-style: solid;
    font-size: x-small;
    padding: 2px;
    margin: 4px;
    height: 30px;
    box-sizing: border-box;
    margin: 10px 0px 10px 0px;
}

form {
    width: 100%;
}


#message {

    /* float: center; */
    width: 100%;

    /* Min Width will prevent the submit button to move up */
    min-width: 875px;

    /* Max Width will prevent message box to move out of the Main box*/
    max-width: 920px;
    min-height: 50px;

    /* Scroll bar will be provided if the message is long */
    overflow: auto;
    border-color: #cccccc;
    
    margin: 10px 0px 10px 0px;
}

::placeholder {
    color: #dad8d8;
    /* color: red; */
}

#submit {
    bottom: -5px;
    width: 100px;
    font-size: medium;
    background-color: #4aaaa5;
    color: white;
    border: none;
    margin: 20px 0px 10px 0px;
}

#submit:hover:not(.active) {
    background-color: #4aaaa5d3;
    cursor: grab;
}

footer {
    text-align: center;
    border-top: 10px solid #4aaaa5;
    background-color: #666666;
    color: white;
    padding: 20px;
    
    /* position: absolute; */
    bottom: 0;
    width: 100%;

    /* Ensure sticky footer */
    position: fixed;

    /* Ensure that footer is on top of other elements */
    z-index: 1;
}


